.Pokegame {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.Pokegame-body1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Pokegame-winner {
  color: #4caf50;
  font-size: 23px;
  font-weight: bold;
}

.Pokegame-loser {
  color: #e91e63;
  font-weight: bold;
  font-size: 23px;
}

.Pokegame-exp {
  font-weight: bold;
  margin-top: 0.5rem;
}
